<div>
  <mat-toolbar class="mainTolbar">
    <span>Creación Escudería</span>
  </mat-toolbar>

  <mat-grid-list  cols="2" rowHeight="610px">

<!-- -----------------------------------------------Tile para seleccionar equipo--------------------------------------------------- -->
<mat-grid-tile [colspan]="1">
  <mat-card class="mycard">

  <!-- --------------------------------------------------Panel para los pilotos------------------------------------------------------ -->
    <mat-accordion>
      <mat-expansion-panel [expanded]="stepTeam === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pilotos
          </mat-panel-title>
          <mat-panel-description>
            Elegir Pilotos
          </mat-panel-description>
        </mat-expansion-panel-header>


        <table mat-table [dataSource]="dataSourceDrivers" class="teamTable">


          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Precio</th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
              <a *ngIf="element.state == 'notChoosed'"
                    class="pointer"  style="color:
                   green;" matTooltip="Editar Empleado">
                  <button class="esperaButton" (click)="changeStateDriver(1)"
                  mat-button>APROBAR</button>
              </a>
              <a *ngIf="element.state == 'choosed'" class="pointer"
                    style="color: indianred;"
                    matTooltip="Eliminar Empleado">
                    <button class="esperaButton" (click)="changeStateDriver(1)"
                     mat-button>ESPERA</button>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsDrivers"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDrivers;"></tr>
        </table>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Constructor</button>
        </mat-action-row>
      </mat-expansion-panel>

      <!-- --------------------------------------------------Panel para los pilotos------------------------------------------------------ -->

      <!-- -----------------------------------------------Panel para los Constructores--------------------------------------------------- -->
      <mat-expansion-panel [expanded]="stepTeam === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Constructor
          </mat-panel-title>
          <mat-panel-description>
            Elegir Constructor
          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSourceConstructors" class="teamTable">


          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Precio</th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
              <a *ngIf="element.state == 'notChoosed'"
                    class="pointer"  style="color:
                   green;" matTooltip="Editar Empleado">
                  <button class="esperaButton" (click)="changeStateDriver(1)"
                  mat-button>APROBAR</button>
              </a>
              <a *ngIf="element.state == 'choosed'" class="pointer"
                    style="color: indianred;"
                    matTooltip="Eliminar Empleado">
                    <button class="esperaButton" (click)="changeStateDriver(1)"
                     mat-button>ESPERA</button>
              </a>
          </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsConstructors"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsConstructors;"></tr>
        </table>

        <mat-action-row>
          <button mat-button color="primary" (click)="prevStep()">Pilotos</button>
          <button mat-button color="primary" (click)="nextStep()">Terminar</button>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- -----------------------------------------------Panel para los Constructores--------------------------------------------------- -->

      </mat-accordion>
    </mat-card>
  </mat-grid-tile>
  <!-- -----------------------------------------------Tile para seleccionar equipo------------------------------------------------------ -->

  <!-- -----------------------------------------------------Tile para visualizar-------------------------------------------------------- -->
  <mat-grid-tile [colspan]="1">
    <mat-card class="mycard">
      <form [formGroup]="formTeam1" (ngSubmit)="createTeam()">
        <mat-grid-list cols="2" rowHeight="70px">

          <mat-grid-tile [colspan]="1" [rowspan]="1" >
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Plioto 1</mat-label>
              <input type="text" matInput formControlName="driver1" autocomplete="off" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Plioto 2</mat-label>
              <input type="text" matInput formControlName="driver1" autocomplete="off" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Plioto 3</mat-label>
              <input type="text" matInput formControlName="driver1" autocomplete="off" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Plioto 4</mat-label>
              <input type="text" matInput formControlName="driver1" autocomplete="off" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Plioto 5</mat-label>
              <input type="text" matInput formControlName="driver1" autocomplete="off" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1" >
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Constructor</mat-label>
              <input type="text" matInput formControlName="driver1" autocomplete="off" readonly>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
            <button type="submit" [disabled]="formTeam1.invalid" class="myButton" mat-raised-button>Guardar</button>
            <button class="myButton" routerLink="/register" mat-raised-button>VOLVER</button>
          </mat-grid-tile>

        </mat-grid-list>
      </form>
    </mat-card>
  </mat-grid-tile>
  <!-- -----------------------------------------------------Tile para visualizar-------------------------------------------------------- -->

</mat-grid-list>
</div>
