.mainTolbar{
  background-color: #2C3D6E;
  color: aliceblue;
  width: 86%;
  margin: auto;
  margin-top: 10px;
}

.teamCard {
  width: 500px;
  height: 800px;
  margin: auto;
  margin-top: 20px;
}

.teamTable{
  width: 100%;
}


.example-spacer {
  flex: 1 1 auto;
}

.mycard{
  width: 60%;
  height: 90%;
  margin: auto;
}

.spinner {
  margin: 0 auto;
}

.mainTolbar2{
  background-color: red;
  color: aliceblue;
}

.example-spacer {
  flex: 1 1 auto;
}

.buttonMy{
  background-color: #2C3D6E;
  color: aliceblue;
  margin-left: 5px;
}

.myIcon{
  color: #2C3D6E;
}


table {

  width: 80%;
  margin: auto;
  margin-top: 10px;
}
