<div>
<mat-toolbar class="mainTolbar">
  <span>Datos del Usuario</span>
</mat-toolbar>
<mat-card class="cardDataUser">

    <mat-grid-list cols="2" rowHeight="70px">

    <form [formGroup]="formDataUser" (ngSubmit)="addUser()">
      <mat-grid-tile *ngIf="flagData" [colspan]="2" [rowspan]="1" >
        <mat-form-field class="tile" appearance="fill">
          <mat-label>Nombre Completo</mat-label>
          <input type="text" matInput formControlName="name" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="flagData" [colspan]="2" [rowspan]="1">
        <mat-form-field class="tile" appearance="fill">
          <mat-label>Correo Electronico</mat-label>
          <input type="email" matInput formControlName="email" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="flagData" [colspan]="1" [rowspan]="1" >
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput formControlName="password" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="flagData" [colspan]="1" [rowspan]="1" >
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Confrimar contraseña</mat-label>
          <input type="password" matInput formControlName="passwordConfirm" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="flagData" [colspan]="1" [rowspan]="1">
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>País</mat-label>
          <input type="text" matInput formControlName="country" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="flagData"  [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
        <button type="submit" [disabled]="formDataUser.invalid" class="myButton" mat-raised-button>Guardar</button>
      </mat-grid-tile>
    </form>

      <form [formGroup]="formScuderia" (ngSubmit)="createScuderia()">
        <mat-grid-tile *ngIf="flagScuderia" [colspan]="2">
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Nombre de Escudería</mat-label>
            <input matInput autocomplete="off" formControlName="nameScuderia">
          </mat-form-field>
          <button type="submit" [disabled]="formScuderia.invalid" mat-raised-button>Guardar</button>
        </mat-grid-tile>
      </form>

    </mat-grid-list>



</mat-card>
</div>
