.body{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #FFFFFF;
}

.login{
  width: 100%;
  max-width: 330px;
}

.ancho{
  width: 80%;
}

.button {
  height: 50px;
}

.login-logo{
  margin-left: 50px;
  margin-bottom: 10px;
}

.navbar{
  background-color: red;
}

.spinner {
  margin: 0 auto;
}
