
  <mat-toolbar class="mainTolbar">
    <span>XF1 Fantasy</span>
    <span class="example-spacer"></span>
    <button *ngFor="let item of menu" class="buttonMy" [routerLink]="item.redirect" mat-raised-button> {{item.nombre}} </button>
    <button routerLink="/main/start" class="myIcon" rou mat-icon-button>
      <mat-icon class="myIcon">home</mat-icon>
    </button>
    <button  routerLink="/login" class="myIcon"  mat-icon-button>
      <mat-icon class="myIcon">logout</mat-icon>
    </button>
  </mat-toolbar>


<div class="container">

  <mat-toolbar class="tolbar">
    <span>Crear Liga Privada</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px;">
    <form [formGroup]="formPrivateLeague" (ngSubmit)="addLeague()">
      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="name" autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="fill">
            <mat-label> Máximo de Integrantes </mat-label>
            <mat-select matInput formControlName="members">
              <mat-option *ngFor="let country of countries" [value]="country.value">
                {{country.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
          <button type="submit" [disabled]="formPrivateLeague.invalid" class="myButton" mat-raised-button>Guardar</button>
          <button class="myButton" routerLink="/user" mat-raised-button>VOLVER</button>
        </mat-grid-tile>

      </mat-grid-list>
    </form>
  </mat-card>
</div>
