.mainTolbar{
  background-color: #2C3D6E;
  color: aliceblue;
  width: 86%;
  margin: auto;
  margin-top: 10px;
}

.minTolbar {
  background-color: red;
  color: aliceblue;
  margin: auto;
  margin-top: 10px;
  width: 76%;
  margin-bottom: 20px;
}

.teamTolbar {
  background-color: royalblue;
  color: aliceblue;
  margin: auto;
  margin-top: 10px;
  width: 76%;
  margin-bottom: 20px;
}


.ancho{
  margin-top: 10px;
}

.teamCard {
  width: 500px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
}


.example-spacer {
  flex: 1 1 auto;
}

.teamCard2 {
  width: 500px;
  height: 800px;
  margin: auto;
  margin-top: 20px;
}

.teamTable{
  width: 100%;
}

.mycard{
  width: 60%;
  height: 90%;
  margin: auto;
}

