<div class="container">
  <mat-toolbar class="tolbar">
    <span>Crear Carrera</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px;">
    <form [formGroup]="formRaces">
      <mat-grid-list cols="4" rowHeight="100px">

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Nombre Carrera</mat-label>
            <input type="text" matInput formControlName="name" autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Fecha de Inicio</mat-label>
            <input type="date" matInput formControlName="startDate" autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Fecha de Fin</mat-label>
            <input type="date" matInput formControlName="endDate" autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>

        <!-- Segunda fila -->

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Nombre Pista</mat-label>
            <input type="text" matInput formControlName="track" autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Hora de Inicio</mat-label>
            <input type="time" matInput formControlName="startTime" autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Hora de Fin</mat-label>
            <input type="time" matInput formControlName="endTime" autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>

        <!-- Tercera columna -->


        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>País</mat-label>
            <mat-select matInput formControlName="thiscountry">
              <mat-option *ngFor="let country of countries" [value]="country.value">
                {{country.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">

        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Campeonatos</mat-label>
            <mat-select matInput formControlName="champion">
              <mat-option *ngFor="let champion of champions" [value]="champion.value">
                {{champion.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">

        </mat-grid-tile>





        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
          <button class="myButton" mat-raised-button (click)="SaveRace()" [disabled]="formRaces.invalid">Guardar</button>
        </mat-grid-tile>

      </mat-grid-list>
    </form>
  </mat-card>
</div>
