<div class="container">
  <mat-toolbar class="tolbar">
    <span>Crear Campeonato</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px;">
    <form >
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
          Nombre
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
          Fecha de Inicio
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
          Fecha de Fin
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
          Hora de Inicio
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
          Hora de Fin
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
          Presupuesto
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
          Reglas
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
